#
# Sample Configuration for Forgejo using SQLite
#
# For information on the available settings, consult the online
# documentation, or see the accompanying file app.ini.defaults, which
# contains the settings incorporated into the forgejo binary.
#
# This sample configuration runs Forgejo with a local database.  Before
# running this configuration, make sure to change the INTERNAL_TOKEN,
# JWT_SECRET, and SECRET_KEY variables.  SECRET_KEY is a password of your
# choosing, INTERNAL_TOKEN is a 64-byte random number in BASE64 encoding,
# JWT_SECRET is a 32-byte random number in BASE64 encoding.
#
# You can generate the token using for example:
#   openssl rand -base64 64
#
# You can let Forgejo add these to the config for you; you need to make
# app.ini writeable by the git user.
#
# There are no pre-configured users; the first user to register becomes an
# admin.  In this sample configuration, the HTTP server only listens on
# localhost.
#
# If you'd rather use the web-based installer, remove this conf/app.ini file
# and make /usr/local/etc/forgejo/conf writeable to the git user.

APP_NAME = Forgejo: A self-hosted lightweight software forge
RUN_MODE = prod
RUN_USER = git

[database]
DB_TYPE  = postgres
HOST     = {{ forgejo_db_host }}:{{ forgejo_db_port }}
NAME     = {{ forgejo_db_name }}
PASSWD   = {{ forgejo_db_pass }}
PATH     = /var/db/forgejo/forgejo.db
SSL_MODE = disable
USER     = {{ forgejo_db_user }}

[indexer]
ISSUE_INDEXER_PATH = /var/db/forgejo/indexers/issues.bleve

[log]
LEVEL     = Info
MODE      = file
ROOT_PATH = /var/log/forgejo

[mailer]
ENABLED = false

[oauth2]
JWT_SECRET = CHANGE_ME

[picture]
AVATAR_UPLOAD_PATH      = /var/db/forgejo/data/avatars
DISABLE_GRAVATAR        = true
ENABLE_FEDERATED_AVATAR = false

[repository]
ROOT = /var/db/forgejo/forgejo-repositories
# Forgejo's default is 'bash', so if you have bash installed, you can comment
# this out.
SCRIPT_TYPE = sh

[repository.upload]
TEMP_PATH = /var/db/forgejo/data/tmp/uploads

[security]
INSTALL_LOCK   = true
INTERNAL_TOKEN = {{ forgejo_internal_token }}
SECRET_KEY     = {{ forgejo_secret_key }}

[session]
PROVIDER        = file
PROVIDER_CONFIG = /var/db/forgejo/data/sessions

[server]
APP_DATA_PATH = /var/db/forgejo/data
DISABLE_SSH   = false
DOMAIN        = {{ forgejo_domain }}
HTTP_ADDR     = 0.0.0.0
HTTP_PORT     = 3000
OFFLINE_MODE  = false
ROOT_URL      = https://%(DOMAIN)s/
SSH_DOMAIN    = %(DOMAIN)s
SSH_PORT      = 22

[service]
DISABLE_REGISTRATION   = true
ENABLE_CAPTCHA         = true
ENABLE_NOTIFY_MAIL     = false
REGISTER_EMAIL_CONFIRM = false
REQUIRE_SIGNIN_VIEW    = true
